In [1]:
import numpy as np
import pandas as pd

In [52]:
df1 = pd.read_csv('2021_1분기보고서_01_재무상태표_20220215.txt', sep='\t', encoding='euc-kr')
df1.head(3)

,재무제표종류,종목코드,회사명,시장구분,업종,업종명,결산월,결산기준일,보고서종류,통화,항목코드,항목명,당기 1분기말,전기말,전전기말,Unnamed: 15
0,"재무상태표, 유동/비유동법-별도재무제표",[060310],3S,코스닥시장상장법인,262,전자부품 제조업,3,2021-06-30,1분기보고서,KRW,ifrs-full_AssetsAbstract,자산 [abstract],NaN,NaN,NaN,NaN
1,"재무상태표, 유동/비유동법-별도재무제표",[060310],3S,코스닥시장상장법인,262,전자부품 제조업,3,2021-06-30,1분기보고서,KRW,ifrs-full_CurrentAssets,유동자산,"17,360,014,259","16,020,752,276",NaN,NaN
2,"재무상태표, 유동/비유동법-별도재무제표",[060310],3S,코스닥시장상장법인,262,전자부품 제조업,3,2021-06-30,1분기보고서,KRW,ifrs-full_CashAndCashEquivalents,현금및현금성자산,"5,077,783,055","5,202,901,349",NaN,NaN

In [53]:
df = df1[['종목코드','업종','업종명','항목명', '당기 1분기말']]
df.head(5)

       종목코드   업종       업종명              항목명         당기 1분기말
0  [060310]  262  전자부품 제조업    자산 [abstract]             NaN
1  [060310]  262  전자부품 제조업             유동자산  17,360,014,259
2  [060310]  262  전자부품 제조업         현금및현금성자산   5,077,783,055
3  [060310]  262  전자부품 제조업        매출채권및기타채권   5,610,552,264
4  [060310]  262  전자부품 제조업             재고자산   3,672,398,945

In [54]:
df.isnull().sum()

종목코드          0
업종            0
업종명           0
항목명           0
당기 1분기말    7807
dtype: int64

In [55]:
# dropna() - 결측치가 포함된 행을 삭제
df.dropna(inplace=True)
df.shape

/Users/kimhansaem/miniconda3/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(84713, 5)

In [56]:
# 자산 삭제
df.isnull().sum()

종목코드       0
업종         0
업종명        0
항목명        0
당기 1분기말    0
dtype: int64

In [57]:
df.head()

       종목코드   업종       업종명              항목명         당기 1분기말
1  [060310]  262  전자부품 제조업             유동자산  17,360,014,259
2  [060310]  262  전자부품 제조업         현금및현금성자산   5,077,783,055
3  [060310]  262  전자부품 제조업        매출채권및기타채권   5,610,552,264
4  [060310]  262  전자부품 제조업             재고자산   3,672,398,945
5  [060310]  262  전자부품 제조업           선급공사원가   2,820,526,849

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84713 entries, 1 to 92519
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   종목코드     84713 non-null  object
 1   업종       84713 non-null  int64
 2   업종명      84713 non-null  object
 3   항목명      84713 non-null  object
 4   당기 1분기말  84713 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.9+ MB

In [59]:
df['당기 1분기말'] = df['당기 1분기말'].apply(lambda x: int(x.replace(',','')))
df.head(3)

/var/folders/l6/zf_y8js55058y519pbd3k9480000gn/T/ipykernel_4926/1994514664.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['당기 1분기말'] = df['당기 1분기말'].apply(lambda x: int(x.replace(',','')))

       종목코드   업종       업종명              항목명      당기 1분기말
1  [060310]  262  전자부품 제조업             유동자산  17360014259
2  [060310]  262  전자부품 제조업         현금및현금성자산   5077783055
3  [060310]  262  전자부품 제조업        매출채권및기타채권   5610552264

In [71]:
df2 = df.copy()
df2 = df2.drop(df2[df2.업종 != 261].index)
df2.head()

          종목코드   업종      업종명             항목명       당기 1분기말
1011  [000990]  261  반도체 제조업            유동자산  486062638366
1012  [000990]  261  반도체 제조업        현금및현금성자산   57118583176
1013  [000990]  261  반도체 제조업          단기금융상품   30337653475
1014  [000990]  261  반도체 제조업          기타금융자산  143166524588
1015  [000990]  261  반도체 제조업            매출채권  106896120630

In [74]:
df2['종목코드'] = df2['종목코드'].apply(lambda x: str(x.replace('[','')))
df2['종목코드'] = df2['종목코드'].apply(lambda x: str(x.replace(']','')))
df2.head(100)

        종목코드   업종      업종명                항목명       당기 1분기말
1011  000990  261  반도체 제조업               유동자산  486062638366
1012  000990  261  반도체 제조업           현금및현금성자산   57118583176
1013  000990  261  반도체 제조업             단기금융상품   30337653475
1014  000990  261  반도체 제조업             기타금융자산  143166524588
1015  000990  261  반도체 제조업               매출채권  106896120630
...      ...  ...      ...                ...           ...
5885  036540  261  반도체 제조업               유동부채   72546301072
5886  036540  261  반도체 제조업        매입채무 및 기타채무   46269615656
5887  036540  261  반도체 제조업             기타금융부채    6929600927
5888  036540  261  반도체 제조업             기타유동부채   14110710441
5890  036540  261  반도체 제조업           유동성장기차입금    3600000000

[100 rows x 5 columns]

In [5]:
df4 = pd.read_csv('2021_반기보고서_02_손익계산서_20220226.txt', sep='\t', encoding='euc-kr')
df4.head(3)

,재무제표종류,종목코드,회사명,시장구분,업종,업종명,결산월,결산기준일,보고서종류,통화,항목코드,항목명,당기 반기 3개월,당기 반기 누적,전기 반기 3개월,전기 반기 누적,전기,전전기
0,"손익계산서, 기능별 분류 - 별도재무제표",[001040],CJ,유가증권시장상장법인,649,기타 금융업,12,2021-06-30,반기보고서,KRW,entity00148540_udf_IS_2021317164541718_IncomeS...,영업수익,"26,500,123,000","102,319,133,000","22,640,678,000","92,389,114,000",NaN,NaN
1,"손익계산서, 기능별 분류 - 별도재무제표",[001040],CJ,유가증권시장상장법인,649,기타 금융업,12,2021-06-30,반기보고서,KRW,dart_TotalSellingGeneralAdministrativeExpenses,판매비와관리비,"14,832,125,000","32,860,183,000","16,714,958,000","32,409,021,000",NaN,NaN
2,"손익계산서, 기능별 분류 - 별도재무제표",[001040],CJ,유가증권시장상장법인,649,기타 금융업,12,2021-06-30,반기보고서,KRW,dart_OperatingIncomeLoss,영업이익,"11,667,998,000","69,458,950,000","5,925,720,000","59,980,093,000",NaN,NaN

In [7]:
df4 = df4[['종목코드','회사명','업종','항목명', '당기 반기 3개월']]
df4.head(5)

       종목코드 회사명   업종      항목명       당기 반기 3개월
0  [001040]  CJ  649     영업수익  26,500,123,000
1  [001040]  CJ  649  판매비와관리비  14,832,125,000
2  [001040]  CJ  649     영업이익  11,667,998,000
3  [001040]  CJ  649    기타순손익      23,575,000
4  [001040]  CJ  649     금융수익     363,613,000

In [8]:
df4.isnull().sum()

종목코드           0
회사명            0
업종             0
항목명            0
당기 반기 3개월    247
dtype: int64

In [11]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3302 entries, 0 to 3301
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   종목코드       3302 non-null   object
 1   회사명        3302 non-null   object
 2   업종         3302 non-null   int64
 3   항목명        3302 non-null   object
 4   당기 반기 3개월  3055 non-null   object
dtypes: int64(1), object(4)
memory usage: 129.1+ KB

In [13]:
# dropna() - 결측치가 포함된 행을 삭제
df4.dropna(inplace=True)
df4.shape

(3055, 5)

In [14]:
df4['당기 반기 3개월'] = df4['당기 반기 3개월'].apply(lambda x: int(x.replace(',','')))
df4.head(3)

       종목코드 회사명   업종      항목명    당기 반기 3개월
0  [001040]  CJ  649     영업수익  26500123000
1  [001040]  CJ  649  판매비와관리비  14832125000
2  [001040]  CJ  649     영업이익  11667998000

In [15]:
df5 = df4.copy()
df5 = df5.drop(df5[df5.업종 != 261].index)
df5.head()

        종목코드    회사명   업종       항목명     당기 반기 3개월
26  [000990]  DB하이텍  261       매출액  274650520717
27  [000990]  DB하이텍  261      매출원가  160499383684
28  [000990]  DB하이텍  261     매출총이익  114151137033
29  [000990]  DB하이텍  261   판매비와관리비   32794828741
30  [000990]  DB하이텍  261  영업이익(손실)   81356308292