In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore') # ㅈㅓㅇ리

In [3]:
df2017_1 = pd.read_excel('/Users/kimhansaem/workspace/11.DataAnalysis/01.데이터분석/data/재무제표파일/2017_1분기.xlsx')
df2017_1.head(3)

,Unnamed: 0,corp_code,corp_name,stock_code,당기순이익,매출액,부채총계,영업이익,유동부채,유동자산,이익잉여금,자본금,자본총계,자산총계
0,0,365387,AJ네트웍스,95570,"6,878,386,773","351,523,189,411","1,695,393,307,678","21,827,395,587","996,373,681,686","309,634,160,616",0,"46,822,295,000","429,074,162,552","2,124,467,470,230"
1,1,125080,AK홀딩스,6840,"43,407,295,013","820,740,707,452","1,751,152,521,875","66,723,415,561","1,341,067,784,082","1,156,717,911,454",0,0,"1,024,648,091,822","2,775,800,613,697"
2,2,219097,BGF,27410,"32,090,130,727","1,215,645,931,124","1,022,440,656,635","39,634,034,678","771,067,992,964","986,585,650,559","794,887,828,227",0,"933,367,940,292","1,955,808,596,927"

In [4]:
df2017_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  413 non-null    int64
 1   corp_code   413 non-null    int64
 2   corp_name   413 non-null    object
 3   stock_code  413 non-null    int64
 4   당기순이익       413 non-null    object
 5   매출액         413 non-null    object
 6   부채총계        413 non-null    object
 7   영업이익        413 non-null    object
 8   유동부채        413 non-null    object
 9   유동자산        413 non-null    object
 10  이익잉여금       413 non-null    object
 11  자본금         413 non-null    object
 12  자본총계        413 non-null    object
 13  자산총계        413 non-null    object
dtypes: int64(3), object(11)
memory usage: 45.3+ KB

In [16]:
df2017_1 =df2017_1.drop(['Unnamed: 0','유동부채','유동자산', '자본금','자본총계','자산총계','stock_code'], axis=1)
df2017_1.head(3)

,corp_code,corp_name,당기순이익,매출액,부채총계,영업이익,이익잉여금
0,365387,AJ네트웍스,"6,878,386,773","351,523,189,411","1,695,393,307,678","21,827,395,587",0
1,125080,AK홀딩스,"43,407,295,013","820,740,707,452","1,751,152,521,875","66,723,415,561",0
2,219097,BGF,"32,090,130,727","1,215,645,931,124","1,022,440,656,635","39,634,034,678","794,887,828,227"

In [32]:
df2017_1 = df2017_1.rename({'당기순이익':'2017_1당기순이익', '매출액':'2017_1매출액', '부채총계':'2017_1부채', '영업이익':'2017_1영업이익', '이익잉여금':'2017_1이익잉여금'}, axis='columns')
df2017_1

,corp_code,corp_name,2017_1당기순이익,2017_1매출액,2017_1부채,2017_1영업이익,2017_1이익잉여금
0,365387,AJ네트웍스,"6,878,386,773","351,523,189,411","1,695,393,307,678","21,827,395,587",0
1,125080,AK홀딩스,"43,407,295,013","820,740,707,452","1,751,152,521,875","66,723,415,561",0
2,219097,BGF,"32,090,130,727","1,215,645,931,124","1,022,440,656,635","39,634,034,678","794,887,828,227"
3,122579,BYC,"2,704,119,808","46,036,699,089","335,000,271,712","5,387,959,264","383,572,067,698"
4,148540,CJ,"172,751,656,000","6,349,714,131,000","15,420,143,327,000","331,729,472,000","2,721,883,469,000"
...,...,...,...,...,...,...,...
408,595191,후성,"12,852,362,208","59,465,885,373","129,318,023,320","10,517,074,610","59,283,208,961"
409,195229,휠라홀딩스,"25,539,119,982","653,700,824,429","2,041,501,488,623","48,881,743,376","627,963,791,883"
410,362238,휴비스,-,-,"536,575,958,352",-,0
411,426086,휴켐스,"29,285,709,216","187,780,593,384","281,175,238,501","42,335,729,536","325,043,228,935"
412,167208,흥아해운,"-30,344,416,196","196,209,288,785","738,871,088,494","-6,190,895,207","68,191,835,847"

In [19]:
df2017_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   corp_code    413 non-null    int64
 1   corp_name    413 non-null    object
 2   2017_1당기순이익  413 non-null    object
 3   2017_1매출액    413 non-null    object
 4   2017_1부채     413 non-null    object
 5   2017_1영업이익   413 non-null    object
 6   2017_1이익잉여금  413 non-null    object
dtypes: int64(1), object(6)
memory usage: 22.7+ KB

In [22]:
df2017_1.isnull().sum()

corp_code      0
corp_name      0
2017_1당기순이익    0
2017_1매출액      0
2017_1부채       0
2017_1영업이익     0
2017_1이익잉여금    0
dtype: int64

In [25]:
df2017_2 =df2017_2.drop(['Unnamed: 0','유동부채','유동자산', '자본금','자본총계','자산총계','stock_code'], axis=1)
df2017_2.head(3)

,corp_code,corp_name,당기순이익,매출액,부채총계,영업이익,이익잉여금
0,365387,AJ네트웍스,"5,111,392,411","337,764,161,348","1,757,596,715,794","19,962,227,088",0
1,125080,AK홀딩스,"38,874,109,446","795,495,426,569","1,710,653,032,430","54,142,066,193",0
2,219097,BGF,"61,212,937,931","1,412,995,579,893","1,094,076,126,281","74,110,709,511","855,742,914,552"

In [31]:
df2017_2 = df2017_2.rename({'당기순이익':'2017_2당기순이익', '매출액':'2017_2매출액', '부채총계':'2017_2부채', '영업이익':'2017_2영업이익', '이익잉여금':'2017_2이익잉여금'}, axis='columns')
df2017_2

,corp_code,corp_name,2017_2당기순이익,2017_2매출액,2017_2부채,2017_2영업이익,2017_2이익잉여금
0,365387,AJ네트웍스,"5,111,392,411","337,764,161,348","1,757,596,715,794","19,962,227,088",0
1,125080,AK홀딩스,"38,874,109,446","795,495,426,569","1,710,653,032,430","54,142,066,193",0
2,219097,BGF,"61,212,937,931","1,412,995,579,893","1,094,076,126,281","74,110,709,511","855,742,914,552"
3,122579,BYC,"2,474,804,499","45,160,283,840","334,934,519,677","4,563,053,077","386,050,507,087"
4,148540,CJ,"502,249,281,000","6,504,953,550,000","16,056,737,456,000","297,627,539,000","2,918,572,884,000"
...,...,...,...,...,...,...,...
417,595191,후성,"3,222,739,131","65,745,832,148","141,038,334,811","11,025,293,087","62,648,822,642"
418,195229,휠라홀딩스,"46,759,694,717","692,867,158,635","1,964,493,407,469","81,560,884,726","658,111,322,954"
419,362238,휴비스,"4,796,593,672","295,979,799,314","524,315,400,104","7,243,748,289",0
420,426086,휴켐스,"37,186,334,935","185,130,578,820","282,804,009,246","40,789,101,874","362,579,562,491"
421,167208,흥아해운,"-593,051,377","211,346,804,995","759,275,052,298","3,011,285,579","67,935,171,700"

In [29]:
df1 = df2017_1.copy()
df2 = df2017_2.copy()

In [ ]:
df['영업이익률'] = df['영업이익'] / df['매출액'] * 100
df['순이익률'] = df['당기순이익'] / df['매출액'] * 100
df['ROE'] = df['당기순이익'] / df['자본총계'] * 100
df['부채비율'] = df['부채총계'] / df['자산총계'] * 100
df['당좌비율'] = df['유동자산'] / df['유동부채'] * 100
df['유보율'] = df['이익잉여금'] / df['자본금'] * 100

In [41]:
df_merge = pd.merge(df1,df2, how='right')
df_merge

,corp_code,corp_name,2017_1당기순이익,2017_1매출액,2017_1부채,2017_1영업이익,2017_1이익잉여금,2017_2당기순이익,2017_2매출액,2017_2부채,2017_2영업이익,2017_2이익잉여금
0,365387,AJ네트웍스,"6,878,386,773","351,523,189,411","1,695,393,307,678","21,827,395,587",0,"5,111,392,411","337,764,161,348","1,757,596,715,794","19,962,227,088",0
1,125080,AK홀딩스,"43,407,295,013","820,740,707,452","1,751,152,521,875","66,723,415,561",0,"38,874,109,446","795,495,426,569","1,710,653,032,430","54,142,066,193",0
2,219097,BGF,"32,090,130,727","1,215,645,931,124","1,022,440,656,635","39,634,034,678","794,887,828,227","61,212,937,931","1,412,995,579,893","1,094,076,126,281","74,110,709,511","855,742,914,552"
3,122579,BYC,"2,704,119,808","46,036,699,089","335,000,271,712","5,387,959,264","383,572,067,698","2,474,804,499","45,160,283,840","334,934,519,677","4,563,053,077","386,050,507,087"
4,148540,CJ,"172,751,656,000","6,349,714,131,000","15,420,143,327,000","331,729,472,000","2,721,883,469,000","502,249,281,000","6,504,953,550,000","16,056,737,456,000","297,627,539,000","2,918,572,884,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
417,595191,후성,"12,852,362,208","59,465,885,373","129,318,023,320","10,517,074,610","59,283,208,961","3,222,739,131","65,745,832,148","141,038,334,811","11,025,293,087","62,648,822,642"
418,195229,휠라홀딩스,"25,539,119,982","653,700,824,429","2,041,501,488,623","48,881,743,376","627,963,791,883","46,759,694,717","692,867,158,635","1,964,493,407,469","81,560,884,726","658,111,322,954"
419,362238,휴비스,-,-,"536,575,958,352",-,0,"4,796,593,672","295,979,799,314","524,315,400,104","7,243,748,289",0
420,426086,휴켐스,"29,285,709,216","187,780,593,384","281,175,238,501","42,335,729,536","325,043,228,935","37,186,334,935","185,130,578,820","282,804,009,246","40,789,101,874","362,579,562,491"
421,167208,흥아해운,"-30,344,416,196","196,209,288,785","738,871,088,494","-6,190,895,207","68,191,835,847","-593,051,377","211,346,804,995","759,275,052,298","3,011,285,579","67,935,171,700"

In [42]:
df_merge.isnull().sum()

corp_code      0
corp_name      0
2017_1당기순이익    9
2017_1매출액      9
2017_1부채       9
2017_1영업이익     9
2017_1이익잉여금    9
2017_2당기순이익    0
2017_2매출액      0
2017_2부채       0
2017_2영업이익     0
2017_2이익잉여금    0
dtype: int64

In [43]:
df_merge = df_merge[df_merge['2017_1당기순이익'].notnull()]
df_merge.isnull().sum()

corp_code      0
corp_name      0
2017_1당기순이익    0
2017_1매출액      0
2017_1부채       0
2017_1영업이익     0
2017_1이익잉여금    0
2017_2당기순이익    0
2017_2매출액      0
2017_2부채       0
2017_2영업이익     0
2017_2이익잉여금    0
dtype: int64

In [48]:
df_merge['2017_1부채'] = df_merge['2017_1부채'].apply(lambda x: int(x.replace(',','')))

In [49]:
df_merge['2017_2부채'] = df_merge['2017_2부채'].apply(lambda x: int(x.replace(',','')))

In [51]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413 entries, 0 to 421
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   corp_code    413 non-null    int64
 1   corp_name    413 non-null    object
 2   2017_1당기순이익  413 non-null    object
 3   2017_1매출액    413 non-null    object
 4   2017_1부채     413 non-null    int64
 5   2017_1영업이익   413 non-null    object
 6   2017_1이익잉여금  413 non-null    object
 7   2017_2당기순이익  413 non-null    object
 8   2017_2매출액    413 non-null    object
 9   2017_2부채     413 non-null    int64
 10  2017_2영업이익   413 non-null    object
 11  2017_2이익잉여금  413 non-null    object
dtypes: int64(3), object(9)
memory usage: 41.9+ KB

In [53]:
df_merge['2017_1매출액'] = df_merge['2017_1매출액'].replace('-','')

In [55]:
df_merge['2017_1매출액'] = df_merge['2017_1매출액'].replace('-','')

,corp_code,corp_name,2017_1당기순이익,2017_1매출액,2017_1부채,2017_1영업이익,2017_1이익잉여금,2017_2당기순이익,2017_2매출액,2017_2부채,2017_2영업이익,2017_2이익잉여금
0,365387,AJ네트웍스,"6,878,386,773","351,523,189,411",1695393307678,"21,827,395,587",0,"5,111,392,411","337,764,161,348",1757596715794,"19,962,227,088",0
1,125080,AK홀딩스,"43,407,295,013","820,740,707,452",1751152521875,"66,723,415,561",0,"38,874,109,446","795,495,426,569",1710653032430,"54,142,066,193",0
2,219097,BGF,"32,090,130,727","1,215,645,931,124",1022440656635,"39,634,034,678","794,887,828,227","61,212,937,931","1,412,995,579,893",1094076126281,"74,110,709,511","855,742,914,552"
3,122579,BYC,"2,704,119,808","46,036,699,089",335000271712,"5,387,959,264","383,572,067,698","2,474,804,499","45,160,283,840",334934519677,"4,563,053,077","386,050,507,087"
4,148540,CJ,"172,751,656,000","6,349,714,131,000",15420143327000,"331,729,472,000","2,721,883,469,000","502,249,281,000","6,504,953,550,000",16056737456000,"297,627,539,000","2,918,572,884,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
417,595191,후성,"12,852,362,208","59,465,885,373",129318023320,"10,517,074,610","59,283,208,961","3,222,739,131","65,745,832,148",141038334811,"11,025,293,087","62,648,822,642"
418,195229,휠라홀딩스,"25,539,119,982","653,700,824,429",2041501488623,"48,881,743,376","627,963,791,883","46,759,694,717","692,867,158,635",1964493407469,"81,560,884,726","658,111,322,954"
419,362238,휴비스,-,,536575958352,-,0,"4,796,593,672","295,979,799,314",524315400104,"7,243,748,289",0
420,426086,휴켐스,"29,285,709,216","187,780,593,384",281175238501,"42,335,729,536","325,043,228,935","37,186,334,935","185,130,578,820",282804009246,"40,789,101,874","362,579,562,491"
421,167208,흥아해운,"-30,344,416,196","196,209,288,785",738871088494,"-6,190,895,207","68,191,835,847","-593,051,377","211,346,804,995",759275052298,"3,011,285,579","67,935,171,700"

In [45]:
df_merge['2017_1당기순이익'] = df_merge['2017_1당기순이익'].apply(lambda x: int(x.replace(',','')))
df_merge['2017_1매출액'] = df_merge['2017_1매출액'].apply(lambda x: int(x.replace(',','')))
df_merge['2017_1부채'] = df_merge['2017_1부채'].apply(lambda x: int(x.replace(',','')))
df_merge['2017_1영업이익'] = df_merge['2017_1영업이익'].apply(lambda x: int(x.replace(',','')))
df_merge['2017_1이익잉여금'] = df_merge['2017_1이익잉여금'].apply(lambda x: int(x.replace(',','')))
df_merge['2017_2당기순이익'] = df_merge['2017_2당기순이익'].apply(lambda x: int(x.replace(',','')))
df_merge['2017_2매출액'] = df_merge['2017_2매출액'].apply(lambda x: int(x.replace(',','')))
df_merge['2017_2부채'] = df_merge['2017_2부채'].apply(lambda x: int(x.replace(',','')))
df_merge['2017_2영업이익'] = df_merge['2017_2영업이익'].apply(lambda x: int(x.replace(',','')))
df_merge['2017_2이익잉여금'] = df_merge['2017_2이익잉여금'].apply(lambda x: int(x.replace(',','')))

df_merge.head()

ValueError: invalid literal for int() with base 10: '-'