In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [27]:
df = pd.read_csv('./data/재무제표파일/반도체기업_2021_4분기사업보고서.csv')

In [28]:
df['corp_code'].nunique()

120

In [29]:
df_con= df[df['fs_nm'] == '연결재무제표']
df_sep = df[df['fs_nm'] == '재무제표']

In [30]:
list = df_con['corp_code'].unique().tolist()
df_sep = df_sep[df_sep['corp_code'].isin(list) == False]
df_sep['corp_code'].nunique()
df = pd.concat([df_con, df_sep])
df

,Unnamed: 0,no,rcept_no,reprt_code,bsns_year,corp_code,stock_code,fs_div,fs_nm,sj_div,...,thstrm_nm,thstrm_dt,thstrm_amount,frmtrm_nm,frmtrm_dt,frmtrm_amount,bfefrmtrm_nm,bfefrmtrm_dt,bfefrmtrm_amount,ord
13,13,0,20220321000936,11011,2021,1032413,195870,CFS,연결재무제표,BS,...,제 8 기,2021.12.31 현재,"255,955,422,448",제 7 기,2020.12.31 현재,"174,031,616,373",제 6 기,2019.12.31 현재,"127,523,421,568",1
14,14,1,20220321000936,11011,2021,1032413,195870,CFS,연결재무제표,BS,...,제 8 기,2021.12.31 현재,"218,992,410,862",제 7 기,2020.12.31 현재,"209,180,359,985",제 6 기,2019.12.31 현재,"199,063,821,402",3
15,15,2,20220321000936,11011,2021,1032413,195870,CFS,연결재무제표,BS,...,제 8 기,2021.12.31 현재,"474,947,833,310",제 7 기,2020.12.31 현재,"383,211,976,358",제 6 기,2019.12.31 현재,"326,587,242,970",5
16,16,3,20220321000936,11011,2021,1032413,195870,CFS,연결재무제표,BS,...,제 8 기,2021.12.31 현재,"154,841,512,247",제 7 기,2020.12.31 현재,"120,027,744,543",제 6 기,2019.12.31 현재,"88,484,843,665",7
17,17,4,20220321000936,11011,2021,1032413,195870,CFS,연결재무제표,BS,...,제 8 기,2021.12.31 현재,"25,791,392,519",제 7 기,2020.12.31 현재,"31,345,447,013",제 6 기,2019.12.31 현재,"29,564,282,437",9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2570,2570,8,20220323001385,11011,2021,440712,73570,OFS,재무제표,BS,...,제 24 기,2021.12.31 현재,"31,686,063,364",제 23 기,2020.12.31 현재,"39,261,826,955",제 22 기,2019.12.31 현재,"38,166,836,544",22
2571,2571,9,20220323001385,11011,2021,440712,73570,OFS,재무제표,IS,...,제 24 기,2021.01.01 ~ 2021.12.31,"17,911,455,666",제 23 기,2020.01.01 ~ 2020.12.31,"25,375,539,988",제 22 기,2019.01.01 ~ 2019.12.31,"24,052,131,711",24
2572,2572,10,20220323001385,11011,2021,440712,73570,OFS,재무제표,IS,...,제 24 기,2021.01.01 ~ 2021.12.31,"-5,372,811,798",제 23 기,2020.01.01 ~ 2020.12.31,"494,579,884",제 22 기,2019.01.01 ~ 2019.12.31,"881,872,881",26
2573,2573,11,20220323001385,11011,2021,440712,73570,OFS,재무제표,IS,...,제 24 기,2021.01.01 ~ 2021.12.31,"-13,214,139,889",제 23 기,2020.01.01 ~ 2020.12.31,"-3,245,513,530",제 22 기,2019.01.01 ~ 2019.12.31,"1,697,602,867",28
2574,2574,12,20220323001385,11011,2021,440712,73570,OFS,재무제표,IS,...,제 24 기,2021.01.01 ~ 2021.12.31,"-13,258,577,969",제 23 기,2020.01.01 ~ 2020.12.31,"-3,270,768,758",제 22 기,2019.01.01 ~ 2019.12.31,"1,401,101,180",30

In [31]:
df = df[['corp_code', 'fs_nm', 'account_nm', 'thstrm_amount', 'thstrm_dt']]
df = df[df['account_nm'].isin(['유동자산', '자산총계', '유동부채', '부채총계', '자본금', '이익잉여금', '자본총계', '매출액', '영업이익', '당기순이익'])]
df = df.reset_index(drop=True)
df

      corp_code   fs_nm account_nm    thstrm_amount                thstrm_dt
0       1032413  연결재무제표       유동자산  255,955,422,448            2021.12.31 현재
1       1032413  연결재무제표       자산총계  474,947,833,310            2021.12.31 현재
2       1032413  연결재무제표       유동부채  154,841,512,247            2021.12.31 현재
3       1032413  연결재무제표       부채총계  180,632,904,766            2021.12.31 현재
4       1032413  연결재무제표        자본금   85,000,000,000            2021.12.31 현재
...         ...     ...        ...              ...                      ...
1187     440712    재무제표      이익잉여금  -13,406,306,649            2021.12.31 현재
1188     440712    재무제표       자본총계   31,686,063,364            2021.12.31 현재
1189     440712    재무제표        매출액   17,911,455,666  2021.01.01 ~ 2021.12.31
1190     440712    재무제표       영업이익   -5,372,811,798  2021.01.01 ~ 2021.12.31
1191     440712    재무제표      당기순이익  -13,258,577,969  2021.01.01 ~ 2021.12.31

[1192 rows x 5 columns]

In [32]:
# 이렇게 할 수도 있다
df.pivot(index='corp_code', columns = 'account_nm', values = 'thstrm_amount')

account_nm,당기순이익,매출액,부채총계,영업이익,유동부채,유동자산,이익잉여금,자본금,자본총계,자산총계
corp_code,,,,,,,,,,
118275,"15,097,131,564","226,567,361,019","95,273,241,624","16,476,140,212","63,178,467,824","121,089,114,250","95,022,404,255","17,248,392,500","153,871,795,667","249,145,037,291"
118804,"102,879,224,817","1,161,284,077,161","625,155,643,773","131,814,933,901","458,726,304,524","690,201,851,352","367,863,610,135","25,707,247,000","561,033,499,955","1,186,189,143,728"
121686,"118,706,651,800","958,025,517,025","1,158,577,597,080","108,518,074,699","348,282,573,248","265,365,370,449","349,872,681,886","10,903,844,500","1,025,884,751,344","2,184,462,348,424"
126380,"39,907,450,000,000","279,604,799,000,000","121,721,227,000,000","51,633,856,000,000","88,117,133,000,000","218,163,185,000,000","293,064,763,000,000","897,514,000,000","304,899,931,000,000","426,621,158,000,000"
136271,"-15,861,729,544","454,523,692,263","268,618,296,776","2,386,598,711","224,964,984,629","226,127,666,166",NaN,NaN,NaN,"476,656,365,404"
...,...,...,...,...,...,...,...,...,...,...
1318933,"-105,608,448","38,833,025,056","13,290,463,964","1,607,019,727","10,761,474,839","33,848,815,263","-453,748,217","3,574,566,800","30,078,373,959","43,368,837,923"
1325429,"-4,461,270,773","49,880,481,256","38,709,150,283","-2,898,933,380","30,229,444,096","38,347,767,302","3,287,236,623","3,992,250,800","35,087,252,654","73,796,402,937"
1365825,"76,728,411,521","445,803,726,054","124,191,260,092","94,084,940,603","111,131,066,850","321,166,418,090","104,197,668,466","7,382,510,000","289,070,957,803","413,262,217,895"
1368354,"24,596,454,071","114,206,894,182","216,541,900,639","26,919,155,918","96,461,058,975","97,614,033,289","29,162,799,961","6,092,022,500","200,999,342,206","417,541,242,845"
1489648,"152,220,791,940","1,023,913,370,455","177,761,363,486",NaN,"173,146,367,164","438,576,236,890","196,640,107,826","3,889,283,000","652,185,173,671","829,946,537,157"

In [33]:
df1 = pd.pivot_table(df, index='corp_code', columns = 'account_nm', values = 'thstrm_amount', aggfunc=np.sum, fill_value=0)
df1 = df1.reset_index()
df1

account_nm,corp_code,당기순이익,매출액,부채총계,영업이익,유동부채,유동자산,이익잉여금,자본금,자본총계,자산총계
0,118275,"15,097,131,564","226,567,361,019","95,273,241,624","16,476,140,212","63,178,467,824","121,089,114,250","95,022,404,255","17,248,392,500","153,871,795,667","249,145,037,291"
1,118804,"102,879,224,817","1,161,284,077,161","625,155,643,773","131,814,933,901","458,726,304,524","690,201,851,352","367,863,610,135","25,707,247,000","561,033,499,955","1,186,189,143,728"
2,121686,"118,706,651,800","958,025,517,025","1,158,577,597,080","108,518,074,699","348,282,573,248","265,365,370,449","349,872,681,886","10,903,844,500","1,025,884,751,344","2,184,462,348,424"
3,126380,"39,907,450,000,000","279,604,799,000,000","121,721,227,000,000","51,633,856,000,000","88,117,133,000,000","218,163,185,000,000","293,064,763,000,000","897,514,000,000","304,899,931,000,000","426,621,158,000,000"
4,136271,"-15,861,729,544","454,523,692,263","268,618,296,776","2,386,598,711","224,964,984,629","226,127,666,166",0,0,0,"476,656,365,404"
...,...,...,...,...,...,...,...,...,...,...,...
115,1318933,"-105,608,448","38,833,025,056","13,290,463,964","1,607,019,727","10,761,474,839","33,848,815,263","-453,748,217","3,574,566,800","30,078,373,959","43,368,837,923"
116,1325429,"-4,461,270,773","49,880,481,256","38,709,150,283","-2,898,933,380","30,229,444,096","38,347,767,302","3,287,236,623","3,992,250,800","35,087,252,654","73,796,402,937"
117,1365825,"76,728,411,521","445,803,726,054","124,191,260,092","94,084,940,603","111,131,066,850","321,166,418,090","104,197,668,466","7,382,510,000","289,070,957,803","413,262,217,895"
118,1368354,"24,596,454,071","114,206,894,182","216,541,900,639","26,919,155,918","96,461,058,975","97,614,033,289","29,162,799,961","6,092,022,500","200,999,342,206","417,541,242,845"
119,1489648,"152,220,791,940","1,023,913,370,455","177,761,363,486",0,"173,146,367,164","438,576,236,890","196,640,107,826","3,889,283,000","652,185,173,671","829,946,537,157"

In [34]:
df_aaa = df1[['corp_code', '당기순이익', '매출액', '영업이익']]
df_aaa.head()

account_nm,corp_code,당기순이익,매출액,영업이익
0,118275,"15,097,131,564","226,567,361,019","16,476,140,212"
1,118804,"102,879,224,817","1,161,284,077,161","131,814,933,901"
2,121686,"118,706,651,800","958,025,517,025","108,518,074,699"
3,126380,"39,907,450,000,000","279,604,799,000,000","51,633,856,000,000"
4,136271,"-15,861,729,544","454,523,692,263","2,386,598,711"

In [35]:
path = "/Users/kimhansaem/workspace/11.DataAnalysis/01.데이터분석/data/재무제표파일/"

In [56]:
df1.to_csv(path + "반도체_2021가공.csv")

In [23]:
df = pd.read_csv('./data/재무제표파일/반도체_2021가공.csv')

In [24]:
df_aaa = df[['corp_code', '당기순이익', '매출액', '영업이익']]
df_aaa.head()

   corp_code               당기순이익                  매출액                영업이익
0     118275      15,097,131,564      226,567,361,019      16,476,140,212
1     118804     102,879,224,817    1,161,284,077,161     131,814,933,901
2     121686     118,706,651,800      958,025,517,025     108,518,074,699
3     126380  39,907,450,000,000  279,604,799,000,000  51,633,856,000,000
4     136271     -15,861,729,544      454,523,692,263       2,386,598,711

In [25]:
df_aaa.to_csv(path + "반도체_2021가공1.csv")